html,
body {
  margin: 2%;
  padding: 0;
}

canvas {
  display: block;
}

.row {
  display: flex;
  align-items: center;
  margin: 40px;
}

.image-container {
  margin: 20px;
}

.chart-container {
  width: 800px;
  height: 500px;
}

.green {
  width: 800px;
  height: 500px;
  border: 5px, green;
}

.red {
  width: 800px;
  height: 500px;
  border: 5px, red;
}

img {
  max-width: 300px;
}